#game {
  display: flex;
  width: 100vw;
  height: 100vh;
  z-index: 0;
  background-color: rgb(230, 230, 230);
  justify-content: center;
  align-items: center;
}

button#leave-button {
  position: absolute;
  right: 10px;
  top: 5px;
  margin: 10px;
  z-index: 1;
}

#chat-form {
  background: rgba(0, 0, 0, 0.15);
  padding: 0.25rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  height: 3rem;
  box-sizing: border-box;
  backdrop-filter: blur(10px);
}

#chat-input {
  border: none;
  padding: 0 1rem;
  flex-grow: 1;
  border-radius: 2rem;
  margin: 0.25rem;
}

#chat-input:focus {
  outline: none;
}

#chat-form > button {
  background: #333;
  border: none;
  padding: 0 1rem;
  margin: 0.25rem;
  border-radius: 3px;
  outline: none;
  color: #fff;
}

#chat {
  display: block;
  width: 100%;
  height: fit-content;
  z-index: 1;
  bottom: 0;
}

#chat-messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
  bottom: 0;
  display: none;
}

#chat-messages > li {
  padding: 0.5rem 1rem;
}

#chat-messages > li:nth-child(odd) {
  background: #efefef;
}
