#game {
  display: flex;
  width: 100vw;
  height: 85vh;
  z-index: 0;
  background-color: rgb(230, 230, 230);
  justify-content: center;
  align-items: center;
}

#waiting-screen {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  opacity: 0.5;
  text-align: center;
  z-index: 10;
}

#waiting-text {
  position: absolute;
  top: 40%;
  left: 50%;
  color: white;
  transform: translate(-50%, -50%);
}

#room-info {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 5px;
  left: 10px;
  z-index: 1;
}

#room-info > h3 {
  margin: 5px;
}

button#leave-button {
  position: absolute;
  right: 10px;
  top: 5px;
  margin: 10px;
  z-index: 1;
}

#chat {
  display: block;
  box-sizing: border-box;
  background-color: #fff;
  border: 5px inset rgb(128, 128, 128);
  width: 100%;
  height: 15vh;
  z-index: 1;
  bottom: 0;
  overflow-y: scroll;
}

#chat-messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
  bottom: 0;
}

#chat-messages > li {
  padding: 0.3rem 1rem;
  background-color: #efefef;
}

#chat-messages > li:nth-child(odd) {
  background-color: #b7b7b7;
}
